<html>
    <head>
        <title>Kangle</title>
        
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        
        <link href="../online/footer.css" rel="stylesheet" />
        <link href="css/HeaderLayoutCommon.css" rel="stylesheet" />
        <link href="../online/ArrowPopup.css" rel="stylesheet" />
        <link href="../online/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../online/fonts/fonts.css" rel="stylesheet" />
        <link href="css/UserAdCourseDetails.css" rel="stylesheet" />
        <link href="css/AdvancedCourse.css" rel="stylesheet" />
        
        <script type="text/javascript" charset="utf-8" src="../../cordova.js"></script>
        <script type="text/javascript" src="../../jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../online/js/constants.js"></script>
        <script src="../Rxbook/js/RxBook/restHandler.js"></script>
        <script type="text/javascript" src="../eLearningAPP.js"></script>
        <script src="../Rxbook/js/RxBook/Services.js"></script>
        <script src="js/AdCourse_Service.js"></script>
        <script src="js/jquery.highlight-4.closure.js"></script>
        <script src="../online/js/ArrowPopup.js"></script>
        
        <!-- settings -->
   		<script src="js/adcourseSettings.js"></script>
   		
        <script src="../Rxbook/js/RxBook/ajaxHandler.js"></script>
        <script src="../online/js/AjaxGlobalHandler.js"></script>
        <script src="../Rxbook/js/RxBook/rxBookInit.js"></script>
        <script type="text/javascript" charset="utf-8" src="../online/js/kaHeader.js"></script>
        <script src="../online/js/elCommon.js"></script>
        <!-- Notificationhub -->
		<script src="../notificationhub/js/NotificationHub.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/SectionPage.js"></script>
        <style>
        #body-home-arrow-div.arrow-wrapper{
            z-index: 99999;
        }
        #body-settings-arrow-div.arrow-wrapper{
            z-index: 99999;
        }
        </style>
    </head>
    <body>
        <div id="body">
            <header>
                <div class="logo"><a href="../homePage.html" title="" class=""></a></div>
                <ul class="header-menu">
                <li class="pull-right newfontsize" id="pop-settings" ><a class="fa fa-ellipsis-v"></a></li>
                <li class="pull-right newfontsize" id="Notificationbell" ><a class="fa fa-bell"></a><span class="notificationhub-count" style="display:none;"></span></li>
                <li class="pull-right newfontsize"><a class="fa fa-home" id="pop-home" style="" href="#"></a></li>
                <li class="pull-right newfontsize" id="" ><a class="fa fa-question-circle"></a></li>
                <!-- <li class="menu-asset"><a href="#" title="Asset Library" class="fa fa-book"></a></li>
                    <li class="menu-rxbook"><a href="#" title="Messages" class="fa fa-weixin"></a><span class="notf-count" id="messagesCount"></span></li> -->
                </ul>
            </header>
            <div class="sub-wrapper" style="display:none;">
                <div id="nav_list"><img style="height: 38px; margin-left: 5px" src="../online/images/Kanglelogo.png"></div>
            </div>

<!-- SectionPage Start-->
<div class="wrapper">
    <div id="dvViewCourse" class="col-md-12">
        <div class="col-lg-12 clsPaddingNone clearfix">
            <div id="dvCourseName" class="col-md-12 dv-big-head"></div>
        </div>
        <div class="col-lg-12 " id="dvViewHeader">
        </div>
        <div id="dvCourseDetails">

        </div>
    </div> 
    </div>     
</div>




<!-- SectionPage end-->
<script>
    $(document).ready(function () {
                      //fnSetSettingsGear();
	Services.defaults.userId = window.localStorage.getItem('userId');
	Services.defaults.subdomainName = window.localStorage.getItem('domainName');
	Services.defaults.companyId =  window.localStorage.getItem('companyId');

      var courseId = rxBookInit.parse('courseId');
      var publishId = rxBookInit.parse('publishId');
      var userId = window.localStorage.getItem('userId');
                    
      var defaults = { courseId: courseId,
                       publishId: publishId,
                       userId: userId
                    };
        /*common for adcourse*/
        footerdiv($('body'));
        setting.init();
        companyLogo_div();
        kaHeader.startCommonThread();
        $('#Notificationbell').bind('click',function(){
			window.location.href = "../notificationhub/Notificationhub.html";
		});             
        
        $.extend(sectionPage.defaults, defaults);
        sectionPage.init();
                      
      rxBookInit.enableCurUserInfo(function (data) {
        //fnSetFooter($('body'));
        }, false);
       
    });
    </script>
</body>
</html>
