<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ProfilePicture</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    
        <link rel="stylesheet" href="css/RxBook/default.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/RxBook/default.date.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/jquery-ui-1.8.21.custom.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/RxBook/profile.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/RxBook/font-awesome/font-awesome.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="../online/footer.css" />
        
        <link href="../online/ArrowPopup.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" charset="utf-8" src="../online/js/ArrowPopup.js"></script>
        
        <!--crop picture -->
    	<link type="text/css" rel="stylesheet" href="js/RxBook/cropjs/jquery.cropbox.css" />
        <style>
            #body-settings-arrow-div:after {
                margin-left: 64px !important;
            }
        </style>
    </head>
<body>
    <div id="body">
        <header>
            <div class="logo"><a href="../homePage.html" title="" class=""></a></div>
            <ul class="header-menu">
                <!--<li><a href="Index.Mobile.html" title="menu" class="fa fa-home"></a></li>-->
                <!-- <li>
                    <a href="Friends.Mobile.html" title="menu" class="fa fa-user"></a>
                    <span id="notf-count"></span>
                </li> -->
                <!--<li>
                    <a href="RightPanel.Friends.html" title="menu" class="fa fa-weixin"></a>
                    <span id="msg-count"></span>
                </li>-->
                <!--<li><a href="#" title="menu" id="pop-settings" class="fa fa-gear"></a></li>-->
            </ul>
        </header>
        <!--content-->
        <div id="content">
            <div id="upload-wrapper">
                <form id="profile-form" class="form-image-upload" action="../../Attachment/FileUpload" method="post">
                    <input type="hidden" name="companyId" value=""/>
                    <input type="hidden" name="userId"  value=""/>
                    <input type="hidden" name="cropX"  value=""/>
                    <input type="hidden" name="cropY"  value=""/>
                    <input type="hidden" name="cropWidth"  value=""/>
                    <input type="hidden" name="cropHeight"  value=""/>
                    <input type="hidden" name="percent"  value=""/>
                    <input type="file" name="filename" id="file-input"/>
                    
                    <div id="uploaded-img"><div class="overlay"></div><img src="images/RxBook/profile-pic.jpg" alt="" /></div>
                    <div id="browse-button">Browse Picture</div>
                    <div id="upload-button">Upload Picture</div>
                    <a id="cancel-button" href="#"  title="Cancel Picture">Cancel</a>
                </form>
            </div>

        </div>
        <!-- content end -->
    </div>

	<script src="../../cordova.js"></script>
    <script src="../../jquery/jquery-1.9.1.min.js"></script>
    <script src="js/jquery-ui-1.8.24.min.js"></script>
    <!--constants Js -->
    <script type="text/javascript" charset="utf-8" src="../online/js/constants.js"></script>
    
    <script src="js/RxBook/rxCommon.js"></script>
    
    <script src="js/RxBook/restHandler.js"></script>
    <script src="js/RxBook/Services.js"></script>
    <script src="js/RxBook/rxBookInit.js"></script>
    <script src="js/RxBook/typeahead.js"></script>
    <script src="js/RxBook/picker.js"></script>
    <script src="js/RxBook/picker.date.js"></script>
    <script type="text/javascript" src="js/RxBook/jquery.form.js"></script>
    <script src="js/RxBook/profile.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/RxBook/cropjs/hammer.js"></script>
    <script type="text/javascript" src="js/RxBook/cropjs/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/RxBook/cropjs/jquery.cropbox.js"></script>
    <script type="text/javascript" src="js/RxBook/cropjs/mcrop_image.js"></script>
    <!-- Notificationhub -->
		<script src="../notificationhub/js/NotificationHub.js" type="text/javascript"></script>
    <script type="text/javascript">
        //$(document).ready(function(){
        document.addEventListener('deviceready', function(){
            footerdiv($('body'));
            companylogo = window.localStorage.getItem("companyLogoUrl");
            if(companylogo === undefined || companylogo === '' || companylogo === null)
            companylogo = '';
            $('.logo a').css({'background-image':'url('+companylogo+')','background-position':'0% 50%','background-repeat':'no-repeat','background-size':'100%'});
            rxBookInit.defaults.userId = rxBookInit.parse('userId');
        		Services.defaults.companyId =  window.localStorage.getItem('companyId');
				Services.defaults.subdomainName = window.localStorage.getItem('domainName');
                rxBookInit.enableCurUserInfo(function(){
                    curUserId = rxBookInit.parse('userId');
                     if(curUserId == null || curUserId == Services.defaults.userId){
                         isAdmin = true;
                         curUserId = Services.defaults.userId;
                     }else {
                         isAdmin = false;
                     }
                     profile.isAdmin = isAdmin;
                     cropImage.init();
                     rxCommon.init();
                   
                },function(){});
        }, false);
    </script>
</body>
</html>